<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Nuovo ingrediente</title>
<link rel="stylesheet" href="/css/newIngrediente.css">
</head>
<body>



<header>
		<div class="container">
			<h1 class="logo">SiwFood</h1>
			<nav>
				<ul class="nav-list">
					<a href="/">Home</a>
					<a href="/ricette">Ricette</a>
					<a href="/cuochi">Cuochi</a>
					<a href="/login">Profilo</a>
					<a href="/newRicetta">Nuova Ricetta</a>

				</ul>
			</nav>
		</div>
	</header>



	<div class="contieni-form">
		<div class="form">
	<form th:action="@{/admin/aggiungiIngrediente}" method="post" th:object="${ingrediente}">

		<h1>Aggiungi un ingrediente</h1>


		<div>
			Nome: <span><input type="text" th:field="${ingrediente.nome}"
				required /></span> <span th:if="${#fields.hasErrors('nome')}"
				th:errors="*{nome}"></span>
		</div>
		
		<div class="errori" th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
  		</div>
		<div>
			<button type="submit">Conferma</button>
		</div>
	</form>
	</div>
	</div>
</body>
</html>