<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>SiwFood</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
        <div class="container">
            <h1 class="logo">SiwFood</h1>
            <nav>
                <ul class="nav-list">
                
                	<span th:if="${userDetails}">
					<span th:text="${userDetails.username}"></span>
					<a href="/logout">Logout</a>
					</span>
					
                    <a href="/">Home</a>
                    <a href="/ricette">Ricette</a>
                    <a href="/cuochi">Cuochi</a>
                    <a href="/login">Profilo</a>
                    
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="hero-section">
            <h2>Benvenuti nel nostro blog di cucina</h2>
            <p>Scoprite la vostra prossima ricetta da fare in casa</p>

            <form action="#" class="search-box">
                <input type="text" placeholder="Cerca Ricetta">
                <button type="submit">Cerca</button>
            </form>
        </div>
    </section>




<div class="link-cuoco">
    	
    	<div class="cuoco-link">
    	<img  src="/images/pasta.jpg">
    	<a th:href="@{/admin/adminRicette}">Gestisci le ricette</a>
    	 </div>
    	 
    	 <div class="cuoco-link">
    	 <img  src="/images/sfondoRicette.jpg">
    	<a th:href="@{/admin/adminIngrediente}">Aggiungi un ingrediente</a>
    	 </div>
    	 
    	 <div class="cuoco-link">
    	 <img  src="/images/chef.jpg">
    	<a th:href="@{/admin/adminCuochi}">Gestisci i cuochi</a>
    	 </div>
    	
    </div>

</body>
</html>