@charset "ISO-8859-1";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background: #f8f8f8;
}

header{
    height: 60px;
    width: 100%;
    background: #222121;
    color: #fff;
    display: flex;
    align-items: center;
}

.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav u2 a{
    list-style: none;
    display: inline;
    margin-left: 20px;
    font-weight: 550;
    color: white;
}

.logo{
    font-size:  24px;

}


.cuoco-container {
    display: flex;
    align-items: center;
    margin: 20px;
    background: silver;
}

.cuoco-img img {
    max-width: 300px; /* Puoi regolare la dimensione massima dell'immagine */
    margin: 20px;
    border-radius: 100%; /* Rende l'immagine circolare */
}

.cuoco-info span {
    margin: 0;
    font-size: 100px; /* Puoi regolare la dimensione del testo */
    color: #333; /* Puoi cambiare il colore del testo */
    margin-left: 10px;
}



.zonaRicette{
	height:100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px 20px;
    column-gap: 20px;
    row-gap: 30px;
    background: url("/images/ricetteCuoco.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    
}


.title {
    align-items: center;
    justify-content: center;
}

.titolo {
    font-size: 36px;
    color: red;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Georgia', serif;
    letter-spacing: 2px;
    padding: 10px;
    background: linear-gradient(135deg, #f9f9f9 0%, #e9e9e9 100%);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   
}

div img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
    border-radius: .5rem;
}

div img:hover{
    transform: scale(1.04);
}

div a{
    padding: 5px;
    text-align: center;
}

h1{
	text-align: center;
}

div .admin{
	border-radius: 3rem;
	text-align: center;
	
}


.ricetta{
	height:auto;
	width:350px;
	background:white;
	align-content: center;
	text-align: center;
	border-radius: 10px;
	padding: 15px;
	background-size: cover;
    background-position: center;
}

 .nomeRicetta{
	font-family:cursive;
	font-size:large;
	text-align: center;
	text-decoration: none;
	
}