@charset "ISO-8859-1";


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("/images/modificaQtyRicetta.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width: 500px;
    font-family: Arial, sans-serif;
}

form span {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

form input[type="number"],
form input[type="hidden"] {
    display: block;
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

form button:hover {
    background-color: #0056b3;
}