@charset "ISO-8859-1";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



header{
    height: 60px;
    width: 100%;
    background: #222121;
    color: #fff;
    display: flex;
    align-items: center;
}

.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav ul a{
    list-style: none;
    display: inline;
    margin-left: 20px;
    font-weight: 550;
    color: white;
}

.logo{
    font-size:  24px;

}

.contieni-form{
	display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("/images/nuovaRicetta.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input[type="text"],
form input[type="file"],
form input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: calc(100% - 22px); /* Adjust width to account for padding and border */
}

form button[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button[type="submit"]:hover {
    background-color: #2980b9;
}

form span {
    display: flex;
    justify-content: center;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}