@charset "ISO-8859-1";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {

    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


header{
    height: 60px;
    width: 100%;
    background: #222121;
    color: #fff;
    display: flex;
    align-items: center;
}

.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav ul a{
    list-style: none;
    display: inline;
    margin-left: 20px;
    font-weight: 550;
    color: white;
}

.logo{
    font-size:  24px;

}

.contieni-form{
	display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("/images/newIngrediente.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.form {
  width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
  
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 15px;
}

form a{
	margin: 5px;
}

label {
  font-weight: bold;
  margin: 5px;
  display: inline-block;
  color: black;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

textarea {
  height: 150px;
  resize: vertical; /* Permette di ridimensionare verticalmente */
}

input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-size: 16px;
}

button {
  background-color: #28a745;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

form h1{
	color:black;
}

div{
	color: black;
}