<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Aggiungi ingrediente</title>
<link rel="stylesheet" href="/css/newIngrediente.css">
</head>
<body>

<div class="contieni-form">
	<div class="form">
		<form th:action="@{/aggiungiIngrediente}" method="post">
			<label for="nomeIngrediente">Nome Ingrediente:</label> <select
				name="nomeIngrediente" id="">
				<option th:each="ingrediente: ${ingredienti}"
					th:value="${ingrediente.nome}" th:text="${ingrediente.nome}"></option>
			</select>
			 <label>Quantità(grammi):</label>
			  <span><input type="text"	th:field="${qty.quantita}" /></span> 
				<a th:href="@{/newIngrediente}">Aggiungi un nuovo ingrediente</a> 
				<input type="hidden" name="ricettaId" th:value="${ricetta.id}" />

			<button type="submit">Inserisci ingrediente</button>

			<a th:href="@{'/ricette' + '/' + ${ricetta.id}}">Finito</a>
		</form>

	</div>
	</div>



</body>
</html>